@media (min-width: 1920px){
    header{
        height: 740px;
    }
}


@media (max-width:1024px) {
    header{
        height: 740px;
    }
    header h1{
        font-family: 'whitneybold';
        color: white;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 15vh;
        font-size: 50px;
    }
    
    header p{
        max-width: 400px;
        font-family: 'whitney';
        color: white;
        display: flex;
        align-items: left;
        justify-content: left;
        text-align: left;
        font-size: 17px;
        line-height: 25px;
    }
    
    .container{
        margin-left: 30px;
        position: relative;
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 60px;
      
        
    }
    
    #aa{
        display: flex;
        align-items: left;
        justify-content: left;
        position: relative;
        left: -30px;
        float: left;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    
    .container button{
       display: none;
    }
    
    #imagem1{
       display: none;
       
    }
    
    
    #imagem2{
        position: relative;
        left: 300px;
        bottom: 190px;
    }
    
    .section1 img{
        height: 30vw;
    }

    .section2 img{
        height: 30vw;
    }

    .section3 img{
        height: 30vw;
    }
    
    .botao{
        display: none;
    }

    .botao1{
        
        display: flex;
    }

    .botao1 a{
        text-decoration: none;
    }

    #botao11 a{
        text-decoration: none;
    }

    .butao a{
        text-decoration: none;
    }

}


@media (max-width:800px) {


    nav button{
        margin-left: 100px;
    }

   .section1-img img{
    z-index: 0;
    position: relative;
    left: 10px;
    height: 35vw;
   
   }

   .section4 a{
       text-decoration: none;

   }

   .section1-letras{
       position: relative;
       right: 80px;
   }

   .section1-letras h1{
    max-width: 300px;
    font-size: 40px;
   }

   .section1-letras p{
       max-width: 300px;
       min-width: 400px;
       font-size: 18px;
   }

   .section2 img{
       position: relative;
       right: 30px;
   }
   
   

   .section2-letras{
    max-width: 300px;
    min-width: 400px;
       position: relative;
       right: 10px;
       left: 30px;
   }

   .section3-img img{
       position: relative;
   }

   .section3-letras{
    position: relative;
    right: 100px;
    max-width: 300px;
    min-width: 400px;
   }

   .section4{
       height: 150vh;
   }

   .section4 h1{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;

   }

   .section4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    min-width: 400px;
   }

   /*Menu Responsivo*/


   .mobile-menu {
    display: none;
    cursor: pointer;
    position: relative;
    bottom: 10px;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }








    .nav-list{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 8vh;
    right: 0;
    width: 30vw;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(41, 41, 41, 0.445);
    background-color: #f3f3f3;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    
    .nav-list a{
        text-decoration: none;
        padding-top: 20px;
        height: 0;
        display: flex;
        line-height: 20px;
        color: black;
    }

    .mobile-menu {
        display: block;
      }

      .nav-list.active {
        transform: translateX(0);
      }
      
      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7p)
}}


@media (max-width: 590px) {
   #imagem2{
       display: none;
   }

   header h1{
       text-align: center;
   }

   .nav-list{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 8vh;
    right: 0;
    width: 30vw;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(41, 41, 41, 0.445);
    background-color: #f3f3f3;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    
}


@media (max-width:500px) {

    .nav-list{
        position: absolute;
        padding: 0px;
        margin: 0px;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 10px rgba(41, 41, 41, 0.445);
        background-color: #f3f3f3;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        }
    .section1{
        display: grid;
    }
    .section1 h1{
        font-size: 6vw;
    }
    .section1 p{
        font-size: 4.5vw;
        line-height: 6vw;
    }
    .section1 img{
        position: relative;
        bottom: 100px;
        height: 70vw;
    }

    .section1-letras{
        position: relative;
        bottom: 220px;
        left: 150px;
    }



    .section2{
        display: grid;
    }
    .section2 h1{
        font-size: 6vw;
    }
    .section2 p{
        font-size: 4.5vw;
        line-height: 6vw;
    }
    .section2 img{
        position: relative;
        bottom: 100px;
        height: 70vw;
    }

    .section2-letras{
        position: relative;
        bottom: 220px;
        left: 40px;
    }


    .section3{
        display: grid;
    }
    .section3 h1{
        font-size: 6vw;
    }
    .section3 p{
        font-size: 4.5vw;
        line-height: 6vw;
    }
    .section3 img{
        position: relative;
        bottom: 10px;
        height: 70vw;
    }

    .section3-letras{
        position: relative;
        left: 130px;
    }

    .section4 h1{
        font-size: 8vw;
    }

    .section4 p{
        text-align: left;
        max-width: 100px;
        line-height: 6vw;
        font-size: 4.5vw;
        min-width: 200px;
    }

    .section4 h2{
        text-align: center;
    }





    .sectionres{
        display: flex;
    }


    .sectionres{
        display: grid;
    }
    .sectionres h1{
        font-size: 6vw;
    }
    .sectionres p{
        font-size: 4.5vw;
        line-height: 6vw;
    }
    .sectionres img{
        position: relative;
        bottom: 100px;
        height: 70vw;
    }

    .sectionres-letras{
        position: relative;
        
        left: 40px;
    }

    .section2{
        display: none;
    }
    
}